@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0px;
    background-color: rgb(49, 56, 196);
    background-image: url("/assets/heightlines.svg");
    color: white;
    appearance: none;
}

a.pages__button:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 20px;
    transform: scale(1.07);
}